img {
  margin-left: 7% !important;
  display: block;
  width: 80% !important;
  height: 120px !important;
  width: auto;
  height: auto;
}
.css-advny6-MuiPopper-root {
  top: 15% !important;
  left: 55% !important;
}
